/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }
	#search {
		width: 80%;
		margin-left: 2em;
	}
	#submit {
		float: right;
		margin-right: 0;
	}
	[class^="icon-"], [class*=" icon-"] {
		top: 2.75em; 
	}
	.container {
		height: auto;
		width: 90%;
	}
	.person-result {
		float: none;
	  margin: 15px;
	  max-height: 32em;
	  width: 90%;
	  .portrait {
	  	width: 90%;
	    border-radius: 7px;
	    margin: auto;
	    border: 1px solid #BF795C;
	    }
	  .person-info {
	    margin: 0;
	    width: 120%;
	  }
	}

	.search-results {
		width: 90%;
		float: none;
		margin: auto;
	  position: relative;
	  .search-result {
	  	width: 90%;
	    background: #F5D5AF;
	    border-radius: 15px;
	    border: 1px solid #BF795C;
	    .movie-info {
	    	display: none;
	    }
	    .poster {
	      border-radius: 7px;
	      width: 82%;
	    }
	  }
	}

	.bottom {
		position: relative;
		bottom: 0;
	}

}